@page "/EditMode"
@inject HttpClient Http
@using BlazorTable

<h1>Edit Mode</h1>

<button class="btn btn-sm btn-danger" title="Toggle Edit Mode" @onclick="@((x) => ToggleEdit())">Toggle Edit Mode</button>
<br />
<br />
<Table TableItem="PersonData" Items="data" PageSize="15" @ref="Table">
    <Column TableItem="PersonData" Title="Id" Field="@(x => x.id)" Sortable="true" Filterable="true" Width="10%">
        <Template>
            @context.id
        </Template>
        <EditTemplate>
            <input type="number" @bind-value="@context.id" class="form-control form-control-sm" />
        </EditTemplate>
    </Column>
    <Column TableItem="PersonData" Title="First Name" Field="@(x => x.first_name)" Sortable="true" Filterable="true" Width="20%">
        <Template>
            @context.first_name
        </Template>
        <EditTemplate>
            <input type="text" @bind-value="@context.first_name" class="form-control form-control-sm" />
        </EditTemplate>
    </Column>
    <Column TableItem="PersonData" Title="Last Name" Field="@(x => x.last_name)" Sortable="true" Filterable="true" Width="20%">
        <Template>
            @context.last_name
        </Template>
        <EditTemplate>
            <input type="text" @bind-value="@context.last_name" class="form-control form-control-sm" />
        </EditTemplate>
    </Column>
    <Column TableItem="PersonData" Title="Email" Field="@(x => x.email)" Sortable="true" Filterable="true" Width="20%">
        <Template>
            <a href="mailto:@context.email">@context.email</a>
        </Template>
        <EditTemplate>
            <input type="email" @bind-value="@context.email" class="form-control form-control-sm" />
        </EditTemplate>
    </Column>
    <Column TableItem="PersonData" Title="Confirmed" Field="@(x => x.confirmed)" Sortable="true" Filterable="true" Width="10%">
        <Template>
            @context.confirmed.ToString()
        </Template>
        <EditTemplate>
            <input type="checkbox" @bind-value="@context.confirmed" class="form-control form-control-sm" checked="@(context.confirmed)"/>
        </EditTemplate>
    </Column>
    <Column TableItem="PersonData" Title="Fund" Field="@(x => x.fund)" Sortable="true" Filterable="true" Width="10%">
        <Template>
            @(context.fund.HasValue ? context.fund.Value.ToString("C") : string.Empty)
        </Template>
        <EditTemplate>
            <input type="number" step=".01" @bind-value="@context.fund" class="form-control form-control-sm" />
        </EditTemplate>
    </Column>
    <Column TableItem="PersonData" Title="Created Date" Field="@(x => x.created_date)" Sortable="true" Filterable="true" Width="10%">
        <Template>
            @(context.created_date.HasValue ? context.created_date.Value.ToShortDateString() : string.Empty)
        </Template>
        <EditTemplate>
            <input type="date" @bind-value="@context.created_date" class="form-control form-control-sm" />
        </EditTemplate>
    </Column>
    <Pager TableItem="PersonData" ShowPageNumber="true" ShowTotalCount="true" />
</Table>

@code 
{
    private ITable<PersonData> Table;

    private PersonData[] data;

    protected override async Task OnInitializedAsync()
    {
        data = await Http.GetJsonAsync<PersonData[]>("sample-data/MOCK_DATA.json");
    }

    public class PersonData
    {
        public int? id { get; set; }
        public string first_name { get; set; }
        public string last_name { get; set; }
        public string email { get; set; }
        public bool? confirmed { get; set; }
        public float? fund { get; set; }
        public DateTime? created_date { get; set; }
    }

    private void ToggleEdit()
    {
        Table.ToggleEditMode();
    }
}
