@namespace BlazorTable
@typeparam TableItem

@if (MemberType == typeof(System.String))
{
    <select class="form-control form-control-sm" value="@stringFilters" @onchange="@((x) => stringFilters = (StringFilters)Enum.Parse(typeof(StringFilters), x.Value.ToString()))">
        @foreach (StringFilters suit in (StringFilters[])Enum.GetValues(typeof(StringFilters)))
        {
            <option value="@suit">@suit.GetDescription()</option>
        }
    </select>
    <input type="text" class="form-control form-control-sm" @bind-value="filterText" required></input>
}

<div class="justify-content-md-center">
    <button type="button" class="btn btn-secondary btn-xs" role="button" @onclick="@((x) => Column.ToggleFilter())">Cancel</button>
    &nbsp;
    <button type="button" class="btn btn-primary btn-xs" role="button" @onclick="@((x) => ApplyFilter())">Accept</button>
</div>
