@namespace BlazorTable
@typeparam TableItem

@if (Columns.Any())
{
    <table class="@TableClass" @attributes="UnknownParameters">
        <thead class="@TableHeadClass">
            <tr>
                @foreach (IColumn<TableItem> column in Columns)
                {
                    <th style="@(!string.IsNullOrEmpty(column.Width) ? $"width:{column.Width};" : "")">
                        <span @onclick="@(() => column.SortBy())" style="@(column.Sortable ? "cursor: pointer;" : "")">@column.Title</span>

                        @if (column.SortColumn)
                        {
                            if (column.SortDescending)
                            { 
                                <span>&#11014;</span> 
                            } 
                            else 
                            { 
                                <span>&#11015;</span> 
                            }
                        }

                        @if (column.Filterable)
                        {
                            <div class="float-right">
                                <a href="javascript:;" id="@($"Filter-{column.Title}")" @onclick="@((x) => column.ToggleFilter())" style="text-decoration: none"><span style="@(column.Filter == null ? "opacity: 0.2;" : string.Empty)">&#128269;</span></a>
                            </div>
                        }
                    </th>
                }
            </tr>
        </thead>
        <tbody class="@TableBodyClass">
            @if (TempItems != null)
            {
                if (TempItems.Any())
                {
                    foreach (TableItem item in TempItems)
                    {
                        <tr>
                            @foreach (IColumn<TableItem> column in Columns)
                            {
                                <td style="@(column.Align == Align.Left ? "text-align: left;" : column.Align == Align.Center ? "text-align: center;" : column.Align == Align.Right ? "text-align: right;" : string.Empty)">
                                    @if (IsEditMode && column.EditTemplate != null)
                                    {
                                        @column.EditTemplate(item)
                                    }
                                    else
                                    {
                                        @column.Template(item)
                                    }
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="@Columns.Count" style="text-align:center"><h1>No items...</h1></td></tr>
                }
            }
            else
            {
                <tr><td colspan="@Columns.Count" style="text-align:center"><h1>Loading...</h1></td></tr>
            }
        </tbody>
    </table>
}

<CascadingValue Value="(ITable<TableItem>)this" Name="Table">
    @ChildContent
</CascadingValue>